* {
  font-family: 'Raleway', sans-serif;
  border: 1px solid black;
}

body {
  background-image: url('http://www.freeppt.net/template/sky-clouds-ppt-background.jpg');
}

h1 {
  font-family: 'Poiret One', cursive;
  font-size: 3em;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

aside {
  flex: 1;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
  text-align: justify;
}

#center {
  flex: 5;
}

#list button {
  float: right;
}

#app {
  flex: auto;
  justify-content: space-around;
  align-self: center;
}
